.container {
    margin-top: 20vh;
}

.input {
    outline: none;
    width: 210px;
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
}

button {
    background-color: #fc6015;
    color: white;
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px;
    border: 1px;
}