main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
}

.main_container {
    padding: 20px;
}

.main_title{
    display: flex;
    align-items: center;
}

.main_title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.main_greeting > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.main_greeting > p {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.main_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:150px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

#card1{
    background: #2e0952;
}

#card2{
    background: #004680;
}

i{
    color: rgb(212, 207, 207);
}

#card3{
    background: #daa000;
}

#card4{
    background: #c40700;
}

.text-primary-p{
    color:#ffffff;
    font-size: 15px;
}

.font-bold{
    color:#f8f8f8;
    font-size: 25px;
}

.card_inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
    color: #000000;
}


.charts{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    top: 20px;
}


.charts_left{
    /* width: 700px; */

}


.charts_left {
    padding: 25px;
    /* margin-left:150px; */
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #d4d0d0, -5px -5px 13px #e9e3e3;
    
    
}


.charts_left_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts_left_title > div > h1 {
    font-size: 24px;
    color:#2e4a66;
    margin-bottom: 5px;
}

.charts_left_title  > i {
    color: #ffffff;
    font-size: 20px;
    background: #ffc100;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius: 200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
}

.charts_right{
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #d4d0d0, -5px -5px 13px #e9e3e3;
}

.charts_right_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts_right_title > div > h1{
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.charts_right_title > i {
    color: #ffffff;
    font-size: 20px;
    background: #39447a;
    border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
}

.charts_right_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.card1{
    background: #d1ecf1;
    color: #35a4ba;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
  
}



.card1 p,.card2 p,.card3 p,.card4 p{
   font-size: 26px;
   font-weight: 500;
   font-weight: bold;
}
.card2 {
    background: #d2f9ee;
    color: #38e1b0;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

.card3 {
    background: #d6d8d9;
    color: #3a3e41;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

.card4 {
    background: #fddcdf;
    color: #f65a6f;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}   

@media  screen and (max-width: 855px) {
    .main_cards {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .main_container {
        padding: 0;
    }

    .charts{
        grid-template-columns: 1fr;
        margin-top: 30px;
        
        
    }

    
};
    
