*{
    margin: 0;
    padding: 0;
}
.return_form{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    border:solid 1px black;
    padding: 20px;
    width: 600px;
    border-radius:5px;
    z-index: 10;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.return_form h3{
    text-align: center;
}
.input-area{
    
    display: grid;
    grid-template-columns: 2fr 4fr;
    column-gap: 0px;
}
label, #as-id, #reAsset-id, textarea{
    margin: 20px 20px;
}
#returnComments{
    border: solid 1px rgb(201, 197, 197);
    outline: none;
}

#as-id{
    position: relative;
    font-size:1.1rem;
    padding: 5px;
    border-radius: 5px;
    border:solid 1px rgb(216, 216, 216);
    /*top:20px;*/
    outline: none;

}

#reAsset-id{
    position: relative;
    font-size:1.1rem;
    padding:5px;
    border-radius: 5px;
    border:solid 1px rgb(216, 216, 216);
    /*top:20px;*/
    width: 300px;
    outline: none
}

.return_form button{
    margin-left: 110px;
    padding: 5px 3px;
    width: 100px;
}

.hide{
    display: none;
}


input[name=assetId] {
    pointer-events: none;
    background-color: rgb(238, 232, 232);
    font-size: small;
    color: gray;
   }