.StoreWrapper{
    width: 100%;
    margin: auto;
    min-height: 100%;
}

.searchDiv{
    position: relative;
    width: 50%;
    margin: 20px auto;
    top: 1.25rem;
}

.SearchItemCriteria{
    position: relative;
   width: 90%;
   height: 50px;
   margin: auto;
   top: 4.875rem;
}

.item-Result{
    margin-top: 200px;
    padding: 15px 15px 45px 15px;
    min-height: 170px;
    
}


/*Bootstrap styles starts here*/
.container-Result{
    width: 100%;
    

}


/* #status:hover{
    border: 0px solid #1292e1;
    background: green;
    color: white !important;
    /* content: "Assign" !important; /
   }  */







@media screen and (max-width:700px) {
    .item-Result{
       margin-top:320px;
    }

}    






@media screen and (max-width:420px) {
    .item-Result{
    margin-top:320px;
    }

    .searchDiv{
        width: 75%;
    }

    .item-colums{
        padding: 10px;
    }



}









/* @media screen and (max-width: 420px) {
    .Result{
         margin:120px 0;
    }

    
} */